<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>СайтоДел</title>

        <meta name="description" content="">
        <meta name="keywords" content="">


    </head>

    <body>

        <header>

            <div class="logo"></div>

            <nav class="topnav">



            </nav>

            <div class="phone"></div>
            
            <div class="contact-btn"></div>

        </header>

        
    </body>

</html>